<h1 class="mb-4">Contact</h1>

<div>
  <a class="linha-contato">
    <img src="./public/assets/img/email-desativado.svg" alt="logo email" width="30px" id="email-contato"
      class="mr-2" />Send me an e-mail: matews1943 at gmail.com
  </a>
</div>
<p class="par-contato">Simplest way of communicating with me. I reply within a day.</p>
<div>
  <a href="https://www.linkedin.com/in/mateusoliveira43/" target="_blank" class="linha-contato">
    <img src="./public/assets/img/linkedin-desativado.svg" alt="logo linkedin" width="30px" id="linkedin-contato"
      class="mr-2" />My Linkedin profile
  </a>
</div>
<p class="par-contato">Check out my Linkedin!</p>
<div>
  <a href="https://github.com/mateusoliveira43" target="_blank" class="linha-contato">
    <img src="./public/assets/img/github-desativado.svg" alt="logo github" width="30px" id="github-contato"
      class="mr-2" />My
    GitHub profile
  </a>
</div>
<p class="par-contato">Check out my Github repository!</p>
<div>
  <a href="https://www.youtube.com/channel/UCAXCKVHXg5weD2zqFJ056QQ" target="_blank" class="linha-contato"><img
      src="./public/assets/img/youtube-desativado.svg" alt="logo youtube" width="30px" id="youtube-contato"
      class="mr-2" />My
    YouTube channel
  </a>
</div>
<p class="par-contato">Check out my YouTube channel!</p>
<div>
  <a href="http://lattes.cnpq.br/7572519952454058" target="_blank" class="linha-contato">
    <img src="./public/assets/img/lattes-desativado.svg" alt="logo lattes" width="30px" id="lattes-contato"
      class="mr-2" />My
    Curriculum Lattes
  </a>
</div>
<p class="par-contato">Check out my Curriculum Lattes!</p>
<div>
  <a href="https://raw.githubusercontent.com/mateusoliveira43/CVs/master/CV_Mateus_EN.pdf" target="_blank"
    class="linha-contato">
    <img src="./public/assets/img/cv-desativado.svg" alt="logo cv" width="30px" id="cv-contato" class="mr-2" />My
    Curriculum
    Vitae (english)
  </a>
</div>
<div>
  <a href="https://raw.githubusercontent.com/mateusoliveira43/CVs/master/CV_Mateus_PT.pdf" target="_blank"
    class="linha-contato">
    <img src="./public/assets/img/cv-desativado.svg" alt="logo cv" width="30px" id="cv-contato2" class="mr-2" />My
    Curriculum
    Vitae (portuguese)
  </a>
</div>
<p class="par-contato">Check out my Curriculum Vitae!</p>
