<h1 class="mb-4">Contato</h1>

<div>
  <a class="linha-contato">
    <img src="./assets/img/email-desativado.svg" alt="logo email" width="30px" id="email-contato" class="mr-2" />Me
    envie um e-mail: matews1943 at gmail.com
  </a>
</div>
<p class="par-contato">Forma mais simples de se comunicar comigo. Respondo dentro de um dia.</p>
<div>
  <a href="https://www.linkedin.com/in/mateusoliveira43/" target="_blank" class="linha-contato"><img
      src="./assets/img/linkedin-desativado.svg" alt="logo linkedin" width="30px" id="linkedin-contato"
      class="mr-2" />Meu perfil no Linkedin
  </a>
</div>
<p class="par-contato">Confira meu Linkedin!</p>
<div>
  <a href="https://github.com/mateusoliveira43" target="_blank" class="linha-contato"><img
      src="./assets/img/github-desativado.svg" alt="logo github" width="30px" id="github-contato" class="mr-2" />Meu
    perfil no GitHub
  </a>
</div>
<p class="par-contato">Confira meu repositório no Github!</p>
<div>
  <a href="https://www.youtube.com/channel/UCAXCKVHXg5weD2zqFJ056QQ" target="_blank" class="linha-contato"><img
      src="./assets/img/youtube-desativado.svg" alt="logo youtube" width="30px" id="youtube-contato" class="mr-2" />Meu
    canal no YouTube
  </a>
</div>
<p class="par-contato">Confira meu canal no YouTube!</p>
<div>
  <a href="http://lattes.cnpq.br/7572519952454058" target="_blank" class="linha-contato">
    <img src="./assets/img/lattes-desativado.svg" alt="logo lattes" width="30px" id="lattes-contato" class="mr-2" />Meu
    Currículo Lattes
  </a>
</div>
<p class="par-contato">Confira meu Currículo Lattes!</p>
<div>
  <a href="https://raw.githubusercontent.com/mateusoliveira43/CVs/master/CV_Mateus_PT.pdf" target="_blank"
    class="linha-contato">
    <img src="./assets/img/cv-desativado.svg" alt="logo cv" width="30px" id="cv-contato" class="mr-2" />Meu Curriculum
    Vitae (português)
  </a>
</div>
<div>
  <a href="https://raw.githubusercontent.com/mateusoliveira43/CVs/master/CV_Mateus_EN.pdf" target="_blank"
    class="linha-contato">
    <img src="./assets/img/cv-desativado.svg" alt="logo cv" width="30px" id="cv-contato2" class="mr-2" />Meu Curriculum
    Vitae (inglês)
  </a>
</div>
<p class="par-contato">Confira meu Curriculum Vitae!</p>
