<div class="destaque">
  <div class="logo m-2 float-left">
    <img src="./public/assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>
  <div class="logo m-2 float-right">
    <img src="./public/assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>
  <h1>Section under construction</h1>
  <p>
    In this section of <b>Games</b>, I intend to post the games that I develop as programming training exercises for
    you to have fun. At first, the site will only run games developed in <b>JavaScript</b>.
  </p>
  <p>
    Do you have an interesting idea of a game for me to implement? Contact me!
  </p>
</div>
