<div class="destaque">
  <div class="logo m-2 float-left">
    <img src="./public/assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>
  <div class="logo m-2 float-right">
    <img src="./public/assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>
  <h1>Seção em construção</h1>
  <p>
    Nesta seção de <b>Jogos</b>, pretendo colocar os jogos que desenvolvo como exercícios de programação para vocês
    se divertirem. A princípio, o site só irá rodar jogos desenvolvidos em <b>JavaScript</b>.
  </p>
  <p>
    Tem alguma ideia interessante de jogo para eu implementar? Entre em contato comigo!
  </p>
</div>
