<h1 class="mb-4">Modelos</h1>
<p>
  Links para os repositórios do GitHub dos modelos TeX que desenvolvi e utilizo
  no dia a dia (em português e inglês). Disponibilizá-los
  online foi minha motivação inicial para ter um site anos atrás.
</p>
<p>
  Você pode olhar exemplos de cada modelo olhando os pdfs contidos em seus repositórios.
  Cada repositório contém um arquivo README (em português e inglês) com instruções
  de como utilizá-los. Para baixá-los, basta apertar o botão <b>Code</b>, e
  escolher a opção <b>Download ZIP</b>, na página do GitHub.
</p>

<div class="linha mb-4">
  <div>
    <h2>Agenda Semanal</h2>
    <hr class="inlinha" />
    <p>
      Modelo TeX que fiz para organizar meus horários semanais, baseado em uma grade de horário de uma faculdade.
    </p>
    <p class="par-contato">
      <a href="https://github.com/mateusoliveira43/weekly-schedule-tex-template" target="_blank"><b>Modelo
          TeX de Agenda Semanal</b></a>
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="destaque">
    <i>"I'm a man of my word."</i><br />
    <div class="float-right">
      The Joker em THE Dark Knight. Direção de Christopher Nolan. WarnerBros. Pictures, 2008.
    </div>
  </div>
</div>
