<h1 class="mb-4">Templates</h1>
<p>
  Links to GitHub's repositories of the TeX Templates that I developed and use
  daily (in English and Portugues). Posting them online
  was my initial motivation for having for having a website years ago.
</p>
<p>
  You can see examples of each template looking the pdfs included in their repositories.
  Each repository includes a README file (in English and Portuguese) with instructions
  on how to use them. To download them, you just need to press the <b>Code</b> button, and
  choose the <b>Download ZIP</b> option, in GitHub's page.
</p>

<div class="linha mb-4">
  <div>
    <h2>Weekly Schedule</h2>
    <hr class="inlinha" />
    <p>
      TeX template that I made for organize my weekly schedule, based in a college's schedule grid.
    </p>
    <p class="par-contato">
      <a href="https://github.com/mateusoliveira43/weekly-schedule-tex-template" target="_blank"><b>Weekly
          Schedule TeX Template</b></a>
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="destaque">
    <i>"I'm a man of my word."</i><br />
    <div class="float-right">
      The Joker in THE Dark Knight. Directed by Christopher Nolan. WarnerBros. Pictures, 2008.
    </div>
  </div>
</div>
