<div class="destaque">
  <div class="logo m-2 float-left">
    <img src="./assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>
  <div class="logo m-2 float-right">
    <img src="./assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>
  <h1>Section under construction</h1>
  <p>
    In this section of <b>Templates</b>, I intend to post the links to the <b>GitHub</b>'s repositories
    of the <b>LaTeX</b>'s templates that I developed and use daily. Posting them online was my initial
    motivation for having a website years ago.
  </p>
</div>
