<h1 class="mb-4">Modelos</h1>
<p>
  Links para os repositórios do GitHub dos modelos TeX que desenvolvi e utilizo
  no dia a dia (em português e inglês). Disponibilizá-los
  online foi minha motivação inicial para ter um site anos atrás.
</p>
<p>
  Você pode olhar exemplos de cada modelo olhando os pdfs contidos em seus repositórios.
  Cada repositório contém um arquivo README (em português e inglês) com instruções
  de como utilizá-los. Para baixá-los, basta apertar o botão <b>Code</b>, e
  escolher a opção <b>Download ZIP</b>, na página do GitHub.
</p>

<div class="linha mb-4">
  <div>
    <h2>Curriculum Vitae</h2>
    <hr class="inlinha" />
    <p>
      Modelo TeX que fiz para meu CV pessoal.
    </p>
    <p class="par-contato">
      <a href="https://github.com/mateusoliveira43/curriculum-vitae-tex-template" target="_blank">
        <b><i class="fas fa-link mr-2"></i>Modelo TeX de curriculum vitae</b></a>
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div>
    <h2>Beamer Limpo</h2>
    <hr class="inlinha" />
    <p>
      Modelo TeX que fiz para utilizar em apresetações, eventos e palestras.
    </p>
    <p class="par-contato">
      <a href="https://github.com/mateusoliveira43/clean-beamer-tex-template" target="_blank">
        <b><i class="fas fa-link mr-2"></i>Modelo TeX the apresentção limpa com a classe Beamer</b></a>
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div>
    <h2>Agenda Semanal</h2>
    <hr class="inlinha" />
    <p>
      Modelo TeX que fiz para organizar meus horários semanais, baseado em uma grade de horário de uma faculdade.
    </p>
    <p class="par-contato">
      <a href="https://github.com/mateusoliveira43/weekly-schedule-tex-template" target="_blank">
        <b><i class="fas fa-link mr-2"></i>Modelo TeX de agenda semanal</b></a>
    </p>
  </div>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
          aria-controls="collapseOne">
          Curriculum Vitae
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>
          Modelo TeX que fiz para meu CV pessoal.
        </p>
        <p class="par-contato">
          <a href="https://github.com/mateusoliveira43/curriculum-vitae-tex-template" target="_blank">
            <b><i class="fas fa-link mr-2"></i>Modelo TeX de curriculum vitae</b></a>
        </p>
      </div>
    </div>
  </div>
  <div class="card border-0">
    <button class="btn card-header text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
      aria-controls="collapseTwo" id="headingTwo">
      Beamer Limpo <i class="fas fa-caret-down"></i>
    </button>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <p>
          Modelo TeX que fiz para utilizar em apresetações, eventos e palestras.
        </p>
        <p class="par-contato">
          <a href="https://github.com/mateusoliveira43/clean-beamer-tex-template" target="_blank">
            <b><i class="fas fa-link mr-2"></i>Modelo TeX the apresentção limpa com a classe Beamer</b></a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          Agenda Semanal
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p>
          Modelo TeX que fiz para organizar meus horários semanais, baseado em uma grade de horário de uma faculdade.
        </p>
        <p class="par-contato">
          <a href="https://github.com/mateusoliveira43/weekly-schedule-tex-template" target="_blank">
            <b><i class="fas fa-link mr-2"></i>Modelo TeX de agenda semanal</b></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="linha mb-4">
  <div class="destaque">
    <i>"I'm a man of my word."</i><br />
    <div class="float-right">
      The Joker em THE Dark Knight. Direção de Christopher Nolan. WarnerBros. Pictures, 2008.
    </div>
  </div>
</div>
