<div class="destaque">

  <div class="logo m-2 float-left">
    <img src="./assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>

  <div class="logo m-2 float-right">
    <img src="./assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>

  <h1>Seção em construção</h1>
  <p>
    Nesta seção de <b>Publicações</b>, pretendo colocar as minhas publicações da graduação e, também agora, do
    mestrado. Além de divulgar meu conhecimento ao público, desejo também interagir com vocês. Sintam-se à vontade
    para mandarem correções e sugestões, ou até mesmo tirarem dúvidas!
  </p>

</div>
