<div class="destaque">

  <div class="logo m-2 float-left">
    <img src="./assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>

  <div class="logo m-2 float-right">
    <img src="./assets/img/manutencao.svg" alt="Logo de manuntenção" width="100%" />
  </div>

  <h1>Section under construction</h1>
  <p>
    In this section of <b>Publications</b>, I intend to post my uder graduation and, also now, mastering
    publications. Beyond spreading my knowledge to the public, I also wish to interact with you. Feel free to send
    me corrections and suggestions, or even clear up doubts!
  </p>

</div>
