<h1 class="mb-4">About the author</h1>

<div class="linha mb-4">
  <div class="img-esquerda m-2">
    <img src="./public/assets/img/perfil_mateus.jpeg" alt="Error while loading image" width="100%" />
  </div>
  <div>
    <h2>Currently</h2>
    <hr class="inlinha" />
    <p>
      I am a junior software developer at Fundação CERTI (<a href="https://www.certi.org.br/" target="_blank">see
        company's website</a>) since October 2020.
      Beyond my work, I have been studying programming and related
      areas, by myself. Currently, I am taking a <b>JavaScript</b> online course and I have already
      done a <b>Python</b> course, online too. Also, I have read the book <b>Clean Code</b> (Which I
      indicate to everyone). Furthermore, I have been working in my personal projects and posting them
      in my <b>GitHub</b> profile.
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="img-direita m-2">
    <img src="./public/assets/img/educaco_mateus.jpeg" alt="Error while loading image" width="100%" />
  </div>
  <div>
    <h2>Education</h2>
    <hr class="inlinha" /><br />
    <ul>
      <li><i>Mathematics - Bachelor degree</i>, Federal University of Santa Catarina (UFSC). 2014 -
        2020.</li>
    </ul>
  </div>
</div>

<div class="linha mb-4">
  <div class="img-esquerda m-2">
    <img src="./public/assets/img/curiosidades_mateus.jpeg" alt="Error while loading image" width="100%" />
  </div>
  <div>
    <h2>Curiosities</h2>
    <hr class="inlinha" />
    <p>
      Born in Goiânia, model 96. Fan (or sufferer) of Goiás Esporte Clube. Fan of super heroes
      (have you noticed the references around the website?), Yu-Gi-Oh!, sertanejo and video games.
      I also like cooking and running (despite the fact that I still have not won a competition),
      beyond, of course, programming. Fluent in english and portuguese, my native language. I have also
      already studied germany.
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="destaque"><i>"Don't be what they made you..."</i><br />
    <div class="float-right">Logan in LOGAN. Directed by James Mangold. 20th Century Fox, 2017.</div>
  </div>
</div>

<h1 class="mb-4">About the website</h1>

<div class="linha">
  <div class="img-esquerda m-2">
    <img src="./public/assets/img/logo-mateus.svg" alt="Error while loading image" width="100%" />
  </div>
  <div>
    <h2>Motivaton, development and design</h2>
    <hr class="inlinha" />
    <p>
      My initial motivation for having a website came years ago, when I wanted a place to post
      my <b>LaTeX</b>'s templates to the public. Nowadays my motivation has changed, and my goal
      with the website is to show the world a little of myself and some of my programming skills.
    </p>
    <p>
      The website was developed using <b>HTML</b>, <b>CSS</b> and <b>JavaScript</b> with the goal
      of making a SPA (Single Page Application, i.e., there is only a web page and not one for
      each section of the website). I will learn a little about the <b>React</b> library in the next
      months, and I intend to use it or the <b>Vue.js</b> framework in the next version of the
      website, to see the differences of the development using these tools.
    </p>
    <p>
      The website was entirely developed by me, from the logo to the colors, with exception of the
      images from social networks and from maintenance, which I took or edited. Regarding the colors,
      I wanted to be as simple as possible. The logo's design was based in my passion for Goiás
      Esporte Clube.
    </p>
  </div>
</div>
