<h1 class="mb-4">Sobre o autor</h1>

<div class="linha mb-4">
  <div class="img-esquerda m-2">
    <img src="./public/assets/img/perfil_mateus.jpeg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Atualmente</h2>
    <hr class="inlinha" />
    <p>
      Sou desenvolvedor de software júnior na Fundação CERTI (<a href="https://www.certi.org.br/" target="_blank">ver
        site da empresa</a>) desde de outubro de 2020. Além do meu trabalho, venho estudando programação e
      áreas correlatadas por conta própria. Atualmente, estou fazendo um curso
      de <b>JavaScript</b> online e já fiz um curso de <b>Python</b>, também online. Também, já li
      o livro <b>Clean Code</b> (o qual indico para todos). Além disso, venho trabalhando em meus
      projetos pessoais e colocando-os no meu perfil do <b>GitHub</b>.
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="img-direita m-2">
    <img src="./public/assets/img/educaco_mateus.jpeg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Educação</h2>
    <hr class="inlinha" /><br />
    <ul>
      <li><i>Matemática - Bacharelado</i>, Universidade Federal de Santa Catarina (UFSC). 2014 - 2020.</li>
    </ul>
  </div>
</div>

<div class="linha mb-4">
  <div class="img-esquerda m-2">
    <img src="./public/assets/img/curiosidades_mateus.jpeg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Curiosidades</h2>
    <hr class="inlinha" />
    <p>
      Goiano do pé rachado, modelo 96. Torcedor (ou sofredor) do Goiás Esporte Clube. Fã de super-heróis (você
      notou as referências pelo site?), Yu-Gi-Oh!, sertanejo e videogames. Gosto também de cozinhar e correr
      (apesar de ainda não ter ganho uma prova), além, é claro, de programar. Fluente em inglês e português,
      minha língua nativa. Também já estudei alemão.
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="destaque"><i>"Don't be what they made you..."</i><br />
    <div class="float-right">Logan em LOGAN. Direção de James Mangold. 20th Century Fox, 2017.</div>
  </div>
</div>

<h1 class="mb-4">Sobre o site</h1>

<div class="linha">
  <div class="img-esquerda m-2">
    <img src="./public/assets/img/logo-mateus.svg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Motivação, desenvolvimento e <i>design</i></h2>
    <hr class="inlinha" />
    <p>
      Minha motivação inicial para ter um site veio anos atrás, quando queria ter um local pra disponibilizar meus
      modelos <b>LaTeX</b> ao público. Hoje em dia minha motivação mudou, e o objetivo com o site é mostrar um
      pouco de mim e minhas habilidades como programador ao mundo.
    </p>
    <p>
      O site foi desenvolvido usando <b>HTML</b>, <b>CSS</b> e <b>JavaScript</b> com o objetivo de fazer uma
      <i>SPA</i> (sigla do inglês "Single Page Application", que significa uma aplicação/aplicativo de página
      única, isto é, existe apenas uma página web e não uma para cada seção do site). Vou aprender um pouco sobre
      a biblioteca <b>React</b> nos próximos meses, e pretendo utilizá-la ou o <i>framework</i> <b>Vue.js</b>
      na próxima versão do site, para ver as diferenças no desenvolvimento utilizando essas ferramentas.
    </p>
    <p>
      O site foi todo desenvolvido por mim, desde o logo até as cores, com exceção das imagens das rede sociais e
      de manutenção, os quais peguei pronto ou editei. Em relação as cores, quis ser minimalista. O <i>design</i>
      do logo do site foi baseado na minha paixão pelo Goiás Esporte Clube.
    </p>
  </div>
</div>
