<h1 class="mb-4">Sobre o autor</h1>

<div class="linha mb-4">
  <div class="img-esquerda m-2">
    <img src="./assets/img/perfil_mateus.jpeg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Atualmente</h2>
    <hr class="inlinha" />
    <p>
      Sou aluno de mestrado no programa de Pós-Graduação em Matemática Pura e Aplicada da Universidade Federal de
      Santa Catarina (UFSC) desde de março de 2020. Eu e meu orientador, o professor Leonardo Koller Sacht (<a
        href="http://mtm.ufsc.br/~leo/" target="_blank">ver site do professor</a>), atualmente estamos estudando
      as áreas da <b>Computação Gráfica</b> com objetivo de definirmos o tema da minha dissertação de mestrado.
      Nos últimos meses, estudamos as áreas de Processamento de Imagens e Processamento de Geometria. No momento,
      estamos estudando sobre Aprendizagem Estatística.
    </p>
    <p>
      Além do mestrado, venho estudando programação e áreas correlatadas. Atualmente, estou fazendo um curso
      de <b>JavaScript</b> online. Também, já fiz um curso de <b>Python</b> online e li
      o livro <b>Clean Code</b>. Além disso, desde que instalei o sistema operacional <b>Linux</b>
      em meu computador pessoal, venho o utilizando diariamente, assim como sistema de controle de versão
      <b>git</b>.
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="img-direita m-2">
    <img src="./assets/img/educaco_mateus.jpeg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Educação</h2>
    <hr class="inlinha" /><br />
    <ul>
      <li><i>Pós-Graduação em Matemática Pura e Aplicada (Mestrado)</i>, Universidade Federal de Santa Catarina
        (UFSC). 2020 - atualmente.</li><br />
      <li><i>Matemática - Bacharelado</i>, Universidade Federal de Santa Catarina (UFSC). 2014 - 2020.</li>
    </ul>
  </div>
</div>

<div class="linha mb-4">
  <div class="img-esquerda m-2">
    <img src="./assets/img/curiosidades_mateus.jpeg" alt="Erro ao carregar imagem" width="100%" />
  </div>
  <div>
    <h2>Curiosidades</h2>
    <hr class="inlinha" />
    <p>
      Goiano do pé rachado, modelo 96. Torcedor (ou sofredor) do Goiás Esporte Clube. Fã de super-heróis (você
      notou as referências pelo site?), Yu-Gi-Oh!, sertanejo e videogames. Gosto também de cozinhar e correr
      (apesar de ainda não ter ganho uma prova), além, é claro, de programar. Fluente em inglês e português,
      minha língua nativa. Também já estudei alemão.
    </p>
  </div>
</div>

<div class="linha mb-4">
  <div class="destaque"><i>"Don't be what they made you..."</i><br />
    <div class="float-right">Logan em LOGAN. Direção de James Mangold. 20th Century Fox, 2017.</div>
  </div>
</div>

<h1 class="mb-4">Sobre o site</h1>

<div class="linha">
  <div class="img-esquerda m-2">

    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="100%" viewBox="0 0 396.87498 396.87501"
      version="1.1" id="svg8" inkscape:version="1.0 (1.0+r73+1)" sodipodi:docname="logo-mateus.svg">
      <defs id="defs2" />
      <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
        inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.24748737" inkscape:cx="671.79721"
        inkscape:cy="877.12625" inkscape:document-units="px" inkscape:current-layer="layer1"
        inkscape:document-rotation="0" showgrid="false" showguides="true" inkscape:guide-bbox="true"
        inkscape:pagecheckerboard="true" units="px" inkscape:window-width="1366" inkscape:window-height="703"
        inkscape:window-x="1680" inkscape:window-y="282" inkscape:window-maximized="1" fit-margin-top="0"
        fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0">
        <sodipodi:guide position="79.375,330.72917" orientation="0,1" id="guide833" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="211.66667,330.72917" orientation="0,1" id="guide835" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="79.375,198.4375" orientation="0,1" id="guide837" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="145.52083,198.4375" orientation="0,1" id="guide839" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="211.66667,198.43751" orientation="0,1" id="guide841" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="211.66667,66.145836" orientation="0,1" id="guide843" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="277.8125,198.43751" orientation="0,1" id="guide845" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="291.04167,198.43751" orientation="0,1" id="guide857" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="251.35417,264.58334" orientation="0,1" id="guide859" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="291.04167,330.72917" orientation="0,1" id="guide861" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="291.04167,66.145836" orientation="0,1" id="guide863" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="251.35417,132.29167" orientation="0,1" id="guide865" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="357.1875,231.51042" orientation="0,1" id="guide867" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
        <sodipodi:guide position="357.1875,165.36459" orientation="0,1" id="guide869" inkscape:label=""
          inkscape:locked="false" inkscape:color="rgb(0,0,255)" />
      </sodipodi:namedview>
      <metadata id="metadata5">
        <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title />
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(79.375,66.145828)">
        <circle
          style="fill:#28a745;stroke-width:5.84866;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
          id="path885" cx="119.0625" cy="132.29167" r="198.4375" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 0,132.29167 V 7.792882e-7" id="path847" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 66.145833,132.29167 0,7.792882e-7" id="path849" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 132.29167,7.792882e-7 66.145833,132.29167" id="path851" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 132.29167,264.58333 V 7.792882e-7" id="path853" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 198.4375,132.29166 -132.291667,1e-5" id="path855" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 178.59375,66.145833 218.28125,2.3869541e-6" id="path871" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 284.42708,99.218751 218.28125,2.3869541e-6" id="path873" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 218.28125,132.29166 284.42708,99.218749" id="path875" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 284.42708,165.36458 218.28125,132.29166" id="path877" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 218.28125,264.58333 66.14583,-99.21875" id="path879" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
        <path
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:15.875;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 178.59375,198.4375 39.6875,66.14583" id="path881" inkscape:connector-type="polyline"
          inkscape:connector-curvature="0" />
      </g>
    </svg>

  </div>
  <div>
    <h2>Motivação, desenvolvimento e <i>design</i></h2>
    <hr class="inlinha" />
    <p>
      Minha motivação inicial para ter um site veio anos atrás, quando queria ter um local pra disponibilizar meus
      modelos <b>LaTeX</b> ao público. Hoje em dia minha motivação mudou, e o objetivo com o site é mostrar um
      pouco de mim e minhas habilidades como programador ao mundo.
    </p>
    <p>
      O site foi desenvolvido usando <b>HTML</b>, <b>CSS</b> e <b>JavaScript</b> com o objetivo de fazer uma
      <i>SPA</i> (sigla do inglês "Single Page Application", que significa uma aplicação/aplicativo de página
      única, isto é, existe apenas uma página web e não uma para cada seção do site). Vou aprender um pouco sobre
      a biblioteca <b>React</b> nos próximos meses, e pretendo utilizar ele ou o <i>framework</i> <b>Vue.js</b>
      na próxima versão do site, para ver as diferenças no desenvolvimento utilizando essas ferramentas.
    </p>
    <p>
      O site foi todo desenvolvido por mim, desde o logo até as cores, com exceção das imagens das rede sociais e
      de manutenção, os quais peguei pronto ou editei. Em relação as cores, quis ser minimalista. O <i>design</i>
      do logo do site foi baseado na minha paixão pelo Goiás Esporte Clube.
    </p>
  </div>
</div>
