:root {
  --preto: rgb(0, 0, 0);
  --branco: rgb(255, 255, 255);
  --cinza-m-escuro: rgb(80, 80, 80);
  --cinza-escuro: rgb(160, 160, 160);
  --cinza-claro: rgb(220, 220, 220);
  --success: #28a745;
}

html {
  height: 100%;
}

body {
  background-color: var(--cinza-claro);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cabecalho,
.rodape {
  background-color: var(--success);
}

.rodape {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  color: var(--branco);
}

.img-esquerda {
  width: 20%;
  float: left;
  min-width: 120px;
}

.img-direita {
  width: 20%;
  float: right;
  min-width: 120px;
}

.linha {
  display: inline-block;
  width: 100%;
}

a {
  cursor: pointer;
}

a:link,
a:visited {
  color: var(--preto);
  text-decoration: none;
}

a:hover {
  color: var(--branco);
}

.nav-item:hover {
  color: var(--branco);
}

.logo {
  width: 20%;
  min-width: 100px;
}

.destaque {
  padding: 10px;
  background-color: var(--cinza-escuro);
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;
  margin: 20px auto;
}

hr {
  border: 2px solid var(--preto);
}

ul {
  overflow: hidden;
}

.inlinha {
  display: flex;
}

.fill {
  flex-grow: 1;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 16.5px;
  border: 1px dashed;
}

.box30-30 {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.linha-contato {
  width: fit-content;
  align-items: center;
  display: flex;
}

.corpo a:hover {
  text-decoration: underline;
}

.par-contato {
  margin: 20px 50px;
}

.btn-outline-light:hover {
  color: var(--verde);
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: var(--success);
}

.navbar-dark .navbar-brand {
  color: var(--branco);
}
.navbar-dark .navbar-brand:hover {
  color: var(--success);
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--cinza-m-escuro);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--branco);
}
.navbar-dark .navbar-toggler {
  color: var(--branco);
  border-color: var(--branco);
}

.navbar-brand {
  margin-right: 0;
}
