:root {
  /* Cores das estruturas do site */
  --texto: rgb(0, 0, 0);
  --fundo: rgb(220, 220, 220);
  --destaque: rgb(160, 160, 160);
  --branco: rgb(255, 255, 255);
  --cinza-escuro: rgb(80, 80, 80);
  --verde: #28a745;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--texto);
  background-color: var(--fundo);
}

.cabecalho,
.rodape {
  background-color: var(--verde);
}

.rodape {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  color: var(--branco);
}

.corpo {
  padding-top: 58px;
}

.img-esquerda {
  width: 20%;
  float: left;
  min-width: 120px;
}

.img-direita {
  width: 20%;
  float: right;
  min-width: 120px;
}

.linha {
  display: inline-block;
  width: 100%;
}

a {
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--branco);
}

.nav-item:hover {
  color: var(--branco);
}

.logo {
  width: 20%;
  min-width: 100px;
}

.destaque {
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--destaque);
}

hr {
  border: 2px solid var(--texto);
}

ul {
  overflow: hidden;
}

.inlinha {
  display: flex;
  border-color: var(--texto);
}

.fill {
  flex-grow: 1;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 16.5px;
  border: 1px dashed;
  border-color: var(--texto);
}

.linha-contato {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.linha-contato:hover > * {
  color: var(--branco);
}

.corpo a:link,
.corpo a:visited {
  text-decoration: none;
  color: var(--verde);
}

.corpo a:hover {
  text-decoration: underline;
  color: var(--branco);
}

.par-contato {
  margin: 20px 50px;
}

button:focus,
.btn-outline-light.focus,
.btn-outline-light:focus {
  outline: none;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: var(--verde);
}

.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: none;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: none;
}

.navbar-dark .navbar-brand {
  color: var(--branco);
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:active {
  color: var(--verde);
  background-color: var(--branco);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--cinza-escuro);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--branco);
}

.navbar-dark .navbar-toggler {
  color: var(--branco);
  border-color: var(--branco);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  margin-right: 0;
  margin-left: 10px;
}

.redesocial {
  font-size: 30px;
  color: var(--branco);
}

.contato {
  font-size: 30px;
  color: var(--verde);
}

.card-header {
  font-size: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--branco);
  background-color: var(--verde);
}

.card-body {
  background-color: var(--fundo);
}

.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
